#top{

    -fx-background-color: rgb(83,159,236);

}

#logo{
    -fx-text-fill: white;

}

#hbox1,#hbox2,#hbox3,#hbox4{
    -fx-background-color: rgb(83,159,236);

}

#username,#tag,#firstn,#lastn,#email,#password{
    -fx-background-color: rgb(0,87,151);
    -fx-text-fill : white;
}

#signup{
    -fx-background: rgb(83,159,236);
    -fx-background-color: linear-gradient(to bottom, #3498db, #2980b9);
    -fx-border-radius: 28px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-padding: 10px 20px 10px 20px;
    -fx-font-family: "Lucida";
    -fx-text-decoration: none;

}

#signup:hover {
  -fx-background: #3cb0fd;
  -fx-background-color: linear-gradient(to bottom, #3cb0fd, #3498db);
  -fx-text-decoration: none;
}

#hbox5{
    -fx-background-color: rgb(217,223,255);
}